.todo{
  padding: 50px 0 0 50px;
  &__title{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-weight: 600;
    font-size: 25px;
    width: 500px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  &__btn{
    font-size: 17px;
    color: #6F6D65;
    font-weight: 600;
  }
  &__wheel{
    top: 55%;
    z-index: 1;
  }
}