*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $text-primary;

  background: #212429;
}

button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

span {
  &.keyBtn{
    padding: 5px 10px;
    background-color: $text-primary;
    color: #212429;
    border-radius: 10px;
    font-size: 18px;
  }
}

.gameBg{
  height: 100vh;
  background: url(images/bg_main.jpg);
}

.absolute-center{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.woff2') format('woff2'),
      url('/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



